<!-- /templates/subjects/physics/<int>.html -->
Content for this chapter is not avilable yet , TEST YOUR KNOWLEDGE BY TAKING A QUIZ FOR THIS CHAPTER!!

<!-- Storing the quiz data in a <script> tag -->
<script id="quiz-data" type="application/json">
    {
        "mcqs": [

            {
                "question": "Opps the quiz is not yet ready for this chapter",
                "options": ["Please wait for a while, THANKSS"],
                "answer": "Please wait for a while, THANKSS",
                "reason": "meow meow"
            },
            {
                "question": "Website by ",
                "options": ["Pavan"],
                "answer": "Pavan",
                "reason": "meow meow"
            } 

        ]
    }

</script>
