<!-- /templates/subjects/physics/1.html -->
Detailed explnation not required for this chapter, Test your knowledge by taking the quizz!!

<!-- Storing the quiz data in a <script> tag -->
<script id="quiz-data" type="application/json">
    {
        "mcqs": [
            {
                "question": "The correct expression for force is:",
                "options": ["F = m a", "F = m v", "F = mv", "F = mp"],
                "answer": "F = m a"
            },
            {
                "question": "The motion of a stationary rigid body in a straight path when a force is applied in the direction of force is called:",
                "options": ["Rotational motion", "Linear motion", "Angular motion", "Zigzag motion"],
                "answer": "Linear motion"
            },
            {
                "question": "The motion of a door when a force is applied on its handle is:",
                "options": ["Rotational motion", "Linear motion", "Angular motion", "Zig-zag motion"],
                "answer": "Rotational motion"
            },
            {
                "question": "The moment of a force about a given axis depends on:",
                "options": ["Only on the magnitude of force", "Only on the perpendicular distance of force from the axis", "Neither the force nor the perpendicular distance of force from the axis", "Both, the force and its perpendicular distance from the axis"],
                "answer": "Both, the force and its perpendicular distance from the axis"
            },
            {
                "question": "For producing the maximum turning effect on a body by a given force, the perpendicular distance of the line of force from the axis of rotation should be:",
                "options": ["Minimum", "It does not matter", "Maximum", "Zero"],
                "answer": "Maximum"
            },
            {
                "question": "10⁷ dyne cm is equal to ............... Nm.",
                "options": ["1", "10", "100", "1000"],
                "answer": "1"
            },
            {
                "question": "The moment of force for anticlockwise moment is taken as ............... and for clockwise moment is taken as ...............",
                "options": ["Positive, negative", "Negative, positive", "Positive, positive", "Negative, negative"],
                "answer": "Positive, negative"
            },
            {
                "question": "The direction of rotation of a pivoted body can be changed by changing:",
                "options": ["The direction of force", "The point of application of force", "Both the direction of force and the point of application of force", "The magnitude of force"],
                "answer": "Both the direction of force and the point of application of force"
            },
            {
                "question": "A couple is formed when ............... are not acting along the same line",
                "options": ["Two unequal and parallel forces", "Two equal and parallel forces", "Two equal and opposite parallel forces", "Two unequal and opposite parallel forces"],
                "answer": "Two equal and opposite parallel forces"
            },
            {
                "question": "As per the principle of moments in equilibrium:",
                "options": ["Sum of anticlockwise moments is greater than sum of clockwise moments", "Sum of anticlockwise moments is equal to sum of clockwise moments", "Sum of anticlockwise moments is less than sum of clockwise moments", "None of the above"],
                "answer": "Sum of anticlockwise moments is equal to sum of clockwise moments"
            },
            {
                "question": "A body is acted upon by two unequal forces in opposite directions, but not in the same line. The effect is that:",
                "options": ["The body will only have rotational motion", "The body will only have translational motion", "The body will have neither rotational motion nor translational motion", "The body will have rotational as well as translational motion"],
                "answer": "The body will have rotational as well as translational motion"
            },
            {
                "question": "Out of the following which one is an example of dynamic equilibrium? \n (1) Moon revolving around the earth \n (2) A pebble fixed at the end of a string whirling in a circular path \n (3) An aeroplane moving at a constant height \n (4) A beam balance balanced in a horizontal position.",
                "options": [ "(1), (2) and (3)", "(1) and (3)", "(1), (2) and (3)"],
                "answer": "(1), (2) and (3)"
            }
        ],
        "short_answers": [
            {
                "question": "State the condition when on applying a force, a body has translational motion.",
                "answer": "Translational motion is produced when a body is free to move."
            },
            {
                "question": "State the condition when on applying a force, a body has rotational motion.",
                "answer": "Rotational motion is produced when the body is fixed at a point."
            },
            {
                "question": "State whether the moment of force is a scalar or vector quantity.",
                "answer": "The moment of force is a vector quantity."
            },
            {
                "question": "Write the expression for the moment of force about a given axis.",
                "answer": "Moment of force about a given axis = Force × perpendicular distance of force from the axis of rotation."
            },
            {
                "question": "State one way to reduce the moment of a given force about a given axis of rotation.",
                "answer": "The moment of force can be reduced by decreasing the perpendicular distance of force from the axis of rotation."
            },
            {
                "question": "State one way to obtain a greater moment of a force about a given axis of rotation.",
                "answer": "We can obtain a greater moment of force by increasing the perpendicular distance of force from the axis of rotation."
            },
            {
                "question": "Complete the following sentences:\n(i) The S.I. unit of moment of force is ...............\n(ii) In equilibrium algebraic sum of moments of all forces about the point of rotation is ...............\n(iii) In beam balance when the beam is balanced in a horizontal position, it is in ............... equilibrium.\n(iv) The moon revolving around the earth is in ............... equilibrium.",
                "answer": {
                    "(i)": "The S.I. unit of moment of force is Newton metre (Nm)",
                    "(ii)": "In equilibrium algebraic sum of moments of all forces about the point of rotation is zero.",
                    "(iii)": "In beam balance when the beam is balanced in a horizontal position, it is in static equilibrium.",
                    "(iv)": "The moon revolving around the earth is in dynamic equilibrium."
                }
            }
        ]
    }

</script>
