<!-- /templates/subjects/physics/<int>.html -->
Content for this chapter is not avilable yet , TEST YOUR KNOWLEDGE BY TAKING A QUIZ FOR THIS CHAPTER!!

<!-- Storing the quiz data in a <script> tag -->
<script id="quiz-data" type="application/json">
    {
        "mcqs": [

            {
              "question": "For work done to be maximum, the angle between the force and displacement should be:",
              "options": ["0°", "30°", "45°", "90°"],
              "answer": "0°",
              "reason": "If the displacement is in the direction of force i.e., θ = 0°, then cos 0° = 1 and work done is maximum."
            },
            {
              "question": "When a body moves in a circular path in a horizontal plane, the work done is:",
              "options": ["Positive", "Negative", "Zero", "Maximum"],
              "answer": "Zero",
              "reason": "When a body revolves in a circular path under the influence of a force, on completing one round the displacement becomes zero, so the work done by the force is W = 0 because work done is a product of force and displacement."
            },
            {
              "question": "When a ball m is thrown upwards to a height h, the work done by the force of gravity is:",
              "options": ["mgh", "-mgh", "mg", "mgh²"],
              "answer": "-mgh",
              "reason": "When a ball m is thrown upwards to a height h, the displacement h (upwards) is opposite to the direction of force of gravity mg (downwards), so the work done by the force of gravity mg in displacement h is W = -mgh i.e., negative."
            },
            {
              "question": "The S.I. unit of work is:",
              "options": ["Joule", "erg", "Newton", "dyne"],
              "answer": "Joule",
              "reason": "The S.I. unit of work is joule. 1 joule of work is said to be done when a force of 1 newton displaces a body through a distance of 1 metre in its own direction."
            },
            {
              "question": "A coolie A takes 1 minute to lift a load to the roof of a bus whereas coolie B takes 2 minutes to lift the same load to the roof of the same bus. The work done by B is:",
              "options": ["equal to work done by A", "greater than work done by A", "less than work done by A", "none of the above"],
              "answer": "equal to work done by A",
              "reason": "Given that the distance lifted and the force applied are the same for both coolies, as they are lifting the same load to the same height (the roof of the bus) hence, the work done by both coolies is the same. The time taken to do the work doesn't affect the amount of work done."
            },
            {
              "question": "One horse power is equal to:",
              "options": ["1000 W", "500 W", "764 W", "746 W"],
              "answer": "746 W",
              "reason": "1 horse power = 746 W"
            },
            {
              "question": "kWh is the unit of",
              "options": ["Power", "Force", "Energy", "None of these"],
              "answer": "Energy",
              "reason": "One kWh is the energy spent (or work done) by a source of power 1 kW in 1 hour."
            },
            {
              "question": "1 Joule is equivalent to ............... erg",
              "options": ["105", "107", "109", "1"],
              "answer": "107",
              "reason": "1 Joule is equivalent to 107 erg"
            },
            {
              "question": "The S.I. unit of power is",
              "options": ["Watt", "Joule", "Nm", "Nms"],
              "answer": "Watt",
              "reason": "The S.I. unit of power is Watt. If 1 joule of work is said to be done in 1 second, the power spent is said to be 1 watt."
            },
            {
              "question": "The energy of electron is 2.5 eV. When expressed in Joule, it is",
              "options": ["1.6 x 10-19 J", "4.0 x 10-19 J", "3.2 x 10-19 J", "0"],
              "answer": "4.0 x 10-19 J",
              "reason": "Given, energy of electron = 2.5 eV. 1 eV = 1.6 x 10 -19 J. Hence, 2.5 eV = 2.5 x 1.6 x 10 -19 = 4 x 10 -19 J"
            },
            {
              "question": "A block of mass 20 kg is pulled up a slope with a constant speed by applying a force of 200 N parallel to the slope. Work done in moving the block from A to B is:",
              "options": ["600 J", "500 J", "60 J", "200 J"],
              "answer": "600 J",
              "reason": "Given, Force = 200 N, Displacement = S = 3 m. Work done = force × displacement in the direction of force. W = 200 × 3 = 600 J. Therefore, work done is 600J."
            }

        ]
    }

</script>
