<!-- /templates/subjects/physics/<int>.html -->
Content for this chapter is not avilable yet , TEST YOUR KNOWLEDGE BY TAKING A QUIZ FOR THIS CHAPTER!!

<!-- Storing the quiz data in a <script> tag -->
<script id="quiz-data" type="application/json">
    {
        "mcqs": [
            {
                "question": "Which of the following is not an example of a machine used as a force multiplier?",
                "options": [
                    "A jack used to lift a car.",
                    "A single fixed pulley used to lift a bucket of water from a well.",
                    "A bar used to lift a heavy stone.",
                    "A wheel barrow used to carry a load."
                ],
                "answer": "A single fixed pulley used to lift a bucket of water from a well.",
                "reason": "When a single fixed pulley is used to lift a bucket of water from a well, it only changes the direction of the force required to lift the bucket."
            },
            {
                "question": "For an ideal machine:",
                "options": [
                    "Output energy = Input energy",
                    "Output energy > Input energy",
                    "Output energy < Input energy",
                    "Work output > Work input"
                ],
                "answer": "Output energy = Input energy",
                "reason": "In an ideal machine, the output energy is equal to the input energy. Ideal machines do not account for any energy losses due to friction, inefficiencies, or other factors."
            },
            {
                "question": "Which of the following statements is incorrect?",
                "options": [
                    "For a machine, velocity ratio does not change.",
                    "Due to friction, mechanical advantage of a machine increases.",
                    "For an ideal machine, work output is equal to the work input.",
                    "For an ideal machine, mechanical advantage is numerically equal to the velocity ratio"
                ],
                "answer": "Due to friction, mechanical advantage of a machine increases.",
                "reason": "Friction reduces the mechanical advantage of a machine because frictional forces oppose motion, which means they can decrease the efficiency of a machine by dissipating energy as heat. This results in a decrease in the mechanical advantage of the machine."
            },
            {
                "question": "Unit of velocity ratio is:",
                "options": [
                    "Nm",
                    "Joule",
                    "Newton",
                    "No unit"
                ],
                "answer": "No unit",
                "reason": "As velocity ratio is a ratio between similar quantities (distances) so it has no unit."
            },
            {
                "question": "The correct relationship between the mechanical advantage (M.A.), velocity ratio (V.R.) and efficiency (η) is:",
                "options": [
                    "M.A. = η x V.R.",
                    "V.R. = η x M.A.",
                    "η = M.A. x V.R.",
                    "None of these"
                ],
                "answer": "M.A. = η x V.R.",
                "reason": "The mechanical advantage of a machine is equal to the product of its efficiency and velocity ratio."
            },
            {
                "question": "Which of the following relations is wrong?",
                "options": [
                    "Work input = Effort x Displacement of effort",
                    "Work output = Load x Displacement of load",
                    "Efficiency = Work input / Work output",
                    "Mechanical advantage = Velocity ratio x Efficiency"
                ],
                "answer": "Efficiency = Work input / Work output",
                "reason": "Efficiency is the ratio of useful work output to the total work input."
            },
            {
                "question": "If the effort needed is less than the load, then mechanical advantage of the machine is:",
                "options": [
                    "Greater than 1",
                    "Less than 1",
                    "Equal to one",
                    "None of these"
                ],
                "answer": "Greater than 1",
                "reason": "Mechanical advantage (M.A.) is defined as the ratio of the load force to the effort force. When the effort force required is less than the load force, the mechanical advantage is greater than one, indicating that the machine amplifies the input force to overcome the load."
            },
            {
                "question": "Select the incorrect statement:",
                "options": [
                    "A machine always has efficiency less than 100%.",
                    "The mechanical advantage of a machine can be less than 1.",
                    "A machine can have mechanical advantage greater than the velocity ratio.",
                    "A machine can be used as a speed multiplier."
                ],
                "answer": "A machine can have mechanical advantage greater than the velocity ratio.",
                "reason": "In actual practice, mechanical advantage for all practical machines is always less than its velocity ratio (i.e., MA < VR) or the output work is always less than the input work, so the efficiency is less than 1 (i.e., η < 1) due to some loss of input energy against the force of friction etc."
            },
            {
                "question": "The lever for which mechanical advantage is less than 1 has:",
                "options": [
                    "Fulcrum at the mid-point between load and effort.",
                    "Load between effort and fulcrum.",
                    "Effort between fulcrum and load.",
                    "Load and effort acting at the same point."
                ],
                "answer": "Effort between fulcrum and load.",
                "reason": "In class III lever, i.e., when effort is between fulcrum and load the mechanical advantage is less than 1."
            },
            {
                "question": "Class II levers are designed to have:",
                "options": [
                    "M.A. = V.R.",
                    "M.A. > V.R.",
                    "M.A. > 1",
                    "M.A. < 1"
                ],
                "answer": "M.A. > 1",
                "reason": "Mechanical advantage (M.A.) is defined as the ratio of effort arm to load arm. In class II levers, as effort arm is always longer than the load arm hence M.A. > 1."
            },
            
            {
                "question": "Which class of levers have effort and load on the same side of fulcrum?",
                "options": [
                    "Class I lever",
                    "Class II Lever",
                    "Class III Lever",
                    "Class II or class III Lever"
                ],
                "answer": "Class II or class III Lever",
                "reason": "In class II or class III levers, effort and load are on the same side of fulcrum."
            },
            {
                "question": "A bottle opener is an example of:",
                "options": [
                    "Class I lever",
                    "Class II Lever",
                    "Class III Lever",
                    "None of these"
                ],
                "answer": "Class II Lever",
                "reason": "A bottle opener is an example of class II lever as load is between fulcrum and effort."
            }
        ]
    }


</script>
