<!-- /templates/subjects/physics/<int>.html -->
Content for this chapter is not avilable yet , TEST YOUR KNOWLEDGE BY TAKING A QUIZ FOR THIS CHAPTER!!

<!-- Storing the quiz data in a <script> tag -->
<script id="quiz-data" type="application/json">
    {
        "mcqs": [
            {
                "question": "When a ray of light from air enters a denser medium, it:",
                "options": ["bends away from the normal", "bends towards the normal", "goes undeviated", "is reflected back"],
                "answer": "bends towards the normal",
                "reason": "When a ray of light from air enters a denser medium, it bends towards the normal due to the change in speed. This phenomenon is known as refraction. This bending towards the normal occurs because the speed of light is slower in the denser medium."
            },
            {
                "question": "A light ray does not bend at the boundary in passing from one medium to the other medium if the angle of incidence is:",
                "options": ["0°", "45°", "60°", "90°"],
                "answer": "0°",
                "reason": "A ray of light incident normally on the surface separating the two media, passes undeviated (i.e., such a ray suffers no bending at the surface). Here, angle of incidence and angle of refraction = 0°"
            },
            {
                "question": "The speed of light is maximum in:",
                "options": ["air", "water", "glass", "diamond"],
                "answer": "air",
                "reason": "The speed of light varies depending on the medium through which it travels. In a vacuum or air, light travels at its maximum speed, i.e., 3 x 10^8 meters per second."
            },
            {
                "question": "The incorrect statement among the following is:",
                "options": ["When a ray of light gets refracted from a denser to a rarer medium, the speed of light decreases.", "The frequency of light does not change on refraction.", "The speed of light V in a medium is related to its wavelength λ and frequency f as V = fλ", "The incident ray, the refracted ray and the normal at the point of incidence all lie in one plane."],
                "answer": "When a ray of light gets refracted from a denser to a rarer medium, the speed of light decreases.",
                "reason": "When a ray of light gets refracted from a denser to a rarer medium, the speed of light increases due to the change in the refractive index of the medium."
            },
            {
                "question": "In refraction of light, the relation between incident angle i and refracted angle r is:",
                "options": ["i > r", "r > i", "i = r", "there is no fixed relation."],
                "answer": "there is no fixed relation",
                "reason": "There is no fixed relation between the incident angle i and refracted angle r because: when a ray of light travels from a rarer medium to a denser medium, it bends towards the normal hence ∠r < ∠i, and vice versa."
            },
            {
                "question": "The intensity of the refracted light is always ............... the intensity of incident light:",
                "options": ["greater than", "equal to", "less than", "none of the above"],
                "answer": "less than",
                "reason": "The intensity of the refracted light is always less than the intensity of incident light because a part of the incident light has suffered reflection."
            },
            {
                "question": "What is the deviation of a ray of light which is incident normally on the surface of two separating media:",
                "options": ["0°", "45°", "90°", "180°"],
                "answer": "0°",
                "reason": "A ray of light incident normally on the surface separating the two media, passes undeviated (i.e., such a ray suffers no bending at the surface). Here, angle of incidence and angle of refraction = 0°."
            },
            {
                "question": "If refractive indices of medium 1 and medium 2 are same, the speed of light will:",
                "options": ["increase", "decrease", "remain the same", "none"],
                "answer": "remain the same",
                "reason": "If the refractive indices of two media are the same, it means that light travels at the same speed in both media."
            },
            {
                "question": "When light passes from a denser medium to a rarer medium, its wavelength:",
                "options": ["decreases", "increases", "remains the same", "none"],
                "answer": "increases",
                "reason": "The speed of light differs in different mediums due to their varying optical densities. When light enters a rarer medium, its speed increases, and hence its wavelength increases as well."
            },
            {
                "question": "The relation between wavelength (λ), velocity (v) and frequency (f) is:",
                "options": ["v = λf", "v = fλ", "v x f x λ = 1", "none of these"],
                "answer": "v = λf",
                "reason": "The relation between wavelength (λ), velocity (v) and frequency (f) is v = λf."
            },
            
            {
                "question": "Speed of light in vacuum is 3 x 10^8 m/s. Its speed in water will be: [Given refractive index of water is 4/3]",
                "options": ["3 x 10^8 m/s", "2.25 x 10^8 m/s", "2.5 x 10^8 m/s", "4 x 10^8 m/s"],
                "answer": "2.25 x 10^8 m/s",
                "reason": "As we know, Speed of light in vacuum, c = 3 × 10^8 m/s, Refractive index of water, μ = 4/3. Substituting the values gives Speed of light in water = 2.25 x 10^8 m/s."
            },
            {
                "question": "The refractive index of water is 4/3 and that of glass is 3/2. The refractive index of glass with respect to water is:",
                "options": ["9/8", "2", "8/9", "1"],
                "answer": "9/8",
                "reason": "Given refractive indices of water and glass, the refractive index of glass with respect to water is obtained by dividing the refractive indices: 3/2 ÷ 4/3 = 9/8."
            },
            {
                "question": "The highest refractive index is of:",
                "options": ["glass", "water", "diamond", "Ruby"],
                "answer": "diamond",
                "reason": "The refractive index of diamond is approximately 2.41, which is higher than that of glass, water, and ruby."
            },
            {
                "question": "With respect to light passing from air into water, which of the following statements is correct?",
                "options": ["Angle of incidence is equal to the angle of refraction.", "Angle of incidence is always greater than the angle of refraction", "Angle of incidence is always less than the angle of refraction", "Angle of incidence has no effect on the angle of refraction."],
                "answer": "Angle of incidence is always greater than the angle of refraction",
                "reason": "As light enters the denser medium, it bends towards the normal, resulting in a smaller angle of refraction compared to the angle of incidence."
            },
            {
                "question": "In refraction of light through a prism, the light ray:",
                "options": ["suffers refraction only at one face of the prism", "emerges out from the prism in a direction parallel to the incident ray", "bends at both the surfaces of the prism towards its base", "bends at both the surfaces of prism opposite to its base."],
                "answer": "bends at both the surfaces of the prism towards its base",
                "reason": "This phenomenon occurs because light undergoes refraction twice as it enters and exits the prism. At each surface, the light bends towards the normal due to the change in medium, causing it to deviate from its original path."
            },
            {
                "question": "A ray of light suffers refraction through an equilateral prism. The deviation produced by the prism does not depend on the:",
                "options": ["angle of incidence", "colour of light", "material of prism", "size of prism"],
                "answer": "size of prism",
                "reason": "The deviation produced by the prism depends on the angle of incidence, the material of the prism, the angle of the prism, and the colour or wavelength of light used. It does not depend on the size of prism."
            },
            {
                "question": "The cross section of the prism is:",
                "options": ["rectangular", "square", "triangular", "hexagonal"],
                "answer": "triangular",
                "reason": "A prism is a geometric solid with a constant cross-section that is a polygon. For a typical optical prism, the cross-section is triangular."
            }

            
        ]
    }


</script>
